.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em;
}
.generated-image{
    width: 90%;
    height: 90%;
}
