.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em;
}

.generated-image {
    width: 90%;
    height: 90%;
    border-radius: 1em;
}

@media screen and (min-width: 1025px) {
    .generated-image {
        width: 50vw;
        height: 70vh;
        margin-top: -20em;

    }
}
