.generate__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
}

.generate__text {
    margin: 1em;
    text-align: center;
}

label {
    display: none;
}

@media screen and (min-width: 768px) {
    .generate__heading {
        margin-top: 2.5em;
        font-size: 5em;
    }

    .generate__text {
        margin: 0 4em 0 4em;
        text-align: left;

    }
}

@media screen and (min-width: 1025px) {
    .generate__heading {
        font-size: 4em;
        text-align: left;
        margin-top: 1em;
        border-right: 1px solid white;
        border-radius: 10px;
        padding-right: 1em;
    }

    .generate__text {
        margin: 0;
        padding-left: 5em;
    }

    .generate__div {
        margin: 0 5em 1em 5em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .generate__div > Form {

    }

    Form {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        text-align: left;
    }

}

