@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.spinner-container__loading-spinner-img {
    animation: rotation 4s linear infinite;
}

.spinning-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}

@media screen and (min-width: 1025px) {
    .spinning-container {
        margin-top: -23em;
    }

    p {
        font-size: x-large
    }
}
